:root {
    --main-color: black;
    --secondary-color: #f4f4f4;
    --bg-form-color: white;

    --font-family: Arial, sans-serif;
    --border-radius: 10px;
    --input-border-radius: 5px;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    --input-padding: 0.625rem 0;
    --button-padding: 0.75rem;
    --gap-large: 1rem;
    --gap-small: 0.5rem;
    --font-size: 1rem;
}

/* Layout */
body {
    font-family: var(--font-family);
    background: var(--secondary-color);
    display: flex;
    color: var(--main-color);
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: var(--bg-form-color);
    padding: 20px 30px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: 350px;
}


#loginForm {
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
}

#loginForm div {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}


#registerForm {
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
}

#registerForm div {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}

/* Typography */
h2 {
    text-align: center;
}

label {
    font-weight: bold;
}

/* Inputs */
input {
    width: 100%;
    padding: var(--input-padding);
    color: var(--main-color);
    border: 0;
    border-bottom: 1px solid var(--main-color);
    outline: none;
    font-size: var(--font-size);
}

/* Button */
button {
    width: 100%;
    background: var(--main-color);
    color: var(--secondary-color);
    padding: var(--button-padding);
    border: none;
    cursor: pointer;
    font-size: var(--font-size);
}

button:hover {
    background: grey;
}

/* Message area */
.message {
    text-align: center;
    font-size: var(--font-size);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --main-color: rgb(224, 224, 224);
        --secondary-color: #1e1e1e;
        --bg-form-color: #2b2b2b;
    }

    input {
        background-color: var(--bg-form-color);
    }
}
